<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>添加病例</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <link rel="stylesheet" href="/../layui/css/layui.css"/>
    <link rel="stylesheet" href="/../css/scroll-bar.css"/>
    <link rel="stylesheet" href="/../css/sub-page.css"/>
     <link rel="stylesheet" href="/../css/half_table.css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css"/>
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form">
        <div class="layui-form-item ">
            <div class="layui-inline half_table">
            <label class="layui-form-label">住院号</label>
	            <div class="layui-input-block">
	                <input type="text" name="hNumber" placeholder="请输入住院号" autocomplete="off" class="layui-input" lay-verify="required"/>
	            </div>
            </div>
            <div class="layui-inline half_table">
	            <label class="layui-form-label">床位号</label>
	            <div class="layui-input-block">
	                <input type="text" name="bedNumber" placeholder="请输入床位号" autocomplete="off" class="layui-input" lay-verify="required"/>
	            </div>
            </div>
          </div>
          <div class="layui-form-item ">
            <div class="layui-inline half_table">
            <label class="layui-form-label">监护人</label>
	            <div class="layui-input-block">
	                <input type="text" name="guardian" placeholder="请输入监护人" autocomplete="off" class="layui-input" lay-verify="required"/>
	            </div>
            </div>
            <div class="layui-inline half_table">
	            <label class="layui-form-label">身份证号</label>
	            <div class="layui-input-block">
	                <input type="text" name="idnumber" placeholder="请输入身份证号" autocomplete="off" class="layui-input" lay-verify="required"/>
	            </div>
            </div>
          </div>
        <div class="layui-form-item">
          	<div class="layui-inline half_table">
	            <label class="layui-form-label">姓名</label>
	            <div class="layui-input-block">
	                <input type="text" name="name" placeholder="请输入姓名" autocomplete="off" class="layui-input" lay-verify="phone"/>
	            </div>
	         </div>
	         <div class="layui-inline half_table">
         	 <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="0" title="男"/>
                <input type="radio" name="sex" value="1" title="女" />
            </div>
            </div>
        </div>
        <div class="layui-form-item">
         <div class="layui-inline half_table">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="age" placeholder="请输入年龄" autocomplete="off" class="layui-input" lay-verify="required"/>
            </div>
            </div>
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">床位医生</label>
            <div class="layui-input-block">
                <input type="text" name="doctor" placeholder="请输入床位医生" autocomplete="off" class="layui-input" id="birthday" lay-verify="birthdayVerify"/>
            </div>
            </div>
        </div>
         <div class="layui-form-item">
       	 	<div class="layui-inline half_table">
	            <label class="layui-form-label">入院时间</label>
		            <div class="layui-input-block">
		               <input name="date" id="inTime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"  type="text"/>		         
		        	 </div>
            </div>
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">出院时间</label>
            <div class="layui-input-block">
               <input name="date" id="outTime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"  type="text"/>		           
                </div>
            </div>
        </div>
        <div class="layui-form-item">
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">入院诊断</label>
            <div class="layui-input-block">
                <input type="text" name="inDiagnose" placeholder="请输入入院诊断" autocomplete="off" class="layui-input" id="birthday" lay-verify="birthdayVerify"/>
            </div>
            </div>
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">出院诊断</label>
            <div class="layui-input-block">
                <input type="text" name="outDiagnose" placeholder="请输入出院诊断" autocomplete="off" class="layui-input" id="birthday" lay-verify="birthdayVerify"/>
            </div>
            </div>
        </div>
        <div class="layui-form-item">
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">归档人</label>
            <div class="layui-input-block">
                <input type="text" name="recordMan" placeholder="请输入归档人" autocomplete="off" class="layui-input" id="birthday" lay-verify="birthdayVerify"/>
            </div>
            </div>
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">归档时间</label>
            <div class="layui-input-block">
                <input name="date" id="recordTime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"  type="text"/>		            </div>
            </div>
        </div>
        <div class="layui-form-item">
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">质控人</label>
            <div class="layui-input-block">
                <input type="text" name="qualityMan" placeholder="请输入归档人" autocomplete="off" class="layui-input" id="birthday" lay-verify="birthdayVerify"/>
            </div>
            </div>
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">质控时间</label>
            <div class="layui-input-block">
               <input name="date" id="qualityTime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"   type="text"/>		            </div>
            </div>
        </div>
        <div class="layui-form-item">
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">入出相符</label>
            <div class="layui-input-block">
                <input type="text" name="sample" placeholder="请输入入出相符" autocomplete="off" class="layui-input" id="birthday" lay-verify="birthdayVerify"/>
            </div>
            </div>
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">期内归档</label>
            <div class="layui-input-block">
                <input type="text" name="giveBack" placeholder="请输入期内归档" autocomplete="off" class="layui-input" id="birthday" lay-verify="birthdayVerify"/>
            </div>
            </div>
        </div>
           <!--  <label class="layui-form-label">兴趣</label>
             <div class="layui-inline half_table">
            <div class="layui-input-block">
                <input type="checkbox" name="like[write]" title="写作"/>
                <input type="checkbox" name="like[read]" title="阅读"/>
                <input type="checkbox" name="like[run]" title="运动"/>
            </div>
            </div> -->
            
        <div class="layui-form-item">
            <div class="  layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn"  lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/../layui/layui.js"></script>
<script>
    layui.use(['element', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#inTime',
            type: "datetime"
        });
        laydate.render({
            elem: '#outTime',
            type: "datetime"
        });
        laydate.render({
            elem: '#recordTime',
            type: "datetime"
        });
        laydate.render({
            elem: '#qualityTime',
            type: "datetime"
        });
        form.on('submit(add)', function (data) {
            console.log(data.field);
            layer.msg("添加成功！", {icon: 6, time: 1000, anim: 4}, function () {
                parent.layer.close(parent.layer.getFrameIndex(window.name));
            });
            return false;
        });
    })
</script>
</body>
</html>