<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>用户列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <link rel="stylesheet" href="/../layui/css/layui.css"/>
    <link rel="stylesheet" href="/../css/scroll-bar.css"/>
    <link rel="stylesheet" href="/../css/sub-page.css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css"/>
    <link rel="stylesheet" href="/../css/nprogress/nprogress.css"/>
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
   <!--  <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>常用页面</cite></a>
                <a><cite>用户列表</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div> -->
    <!--模糊搜索区域-->
    <div class="layui-row">
       <div style="float:left;margin-up:25px;">
        <form class="layui-form layui-col-md12 ok-search">
         	<!-- <label class="layui-form-label"> 住院号：</label>
          		<input class="layui-input" placeholder="住院号" autocomplete="off" id="hNumber"/>
 -->            <label class="layui-form-label">   姓名 ：</label>
            	<input class="layui-input" placeholder="姓名" autocomplete="off" id="name"/>
           <!--  <input class="layui-input" placeholder="请输入用户名" autocomplete="off"/> -->
            <button class="layui-btn" lay-submit="" lay-filter="search">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
             </div>
        <div style="float:left;padding-top:15px;padding-left:10px">
            <button class="layui-btn" id="getQrcode" onclick="createQr()">
         	   <i class="iconfont icon-shangsheng" ></i>生成二维码
        	</button>
        </div>
    </div>
    <!--工具栏-->
    <okToolbar>
        <button class="layui-btn" id="addUser">
            <i class="iconfont icon-shangsheng"></i>新增
        </button>
        <button class="layui-btn layui-btn-warm" id="batchDisabled">
            <i class="iconfont icon-web-icon-"></i>修改
        </button>
        <button class="layui-btn layui-btn-danger" id="batchDel">
            <i class="layui-icon layui-icon-delete"></i>删除
        </button>
       <!--  <button class="layui-btn layui-btn-normal" id="batchEnabled">
            <i class="layui-icon">&#xe61f;</i>批量删除
        </button> -->
        <span>共有数据：<i id="countNum"></i> 条</span>
    </okToolbar>
    <!--数据表格-->
    <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
</div>
<!--js逻辑-->
<script src="/../layui/layui.js"></script>
<script src="/../css/nprogress/nprogress.js"></script>
<!--模板-->
<script type="text/html" id="statusTpl">
</script>
<script type="text/html" id="roleTpl">
    {{ d.role == 0 ? '管理员' : '普通用户    '}}
</script>
<script type="text/html" id="operationTpl">
    <a href="javascript:;" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a href="javascript:;" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>
<script>
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    }
    layui.use(['element', 'table', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#startTime',
            type: "datetime"
        });

        laydate.render({
            elem: '#endTime',
            type: "datetime"
        });

        table.render({
            elem: '#tableId',
            url: '/hos/patient/',
            limit: 10,
            page: true,
            cols: [[
                {type: 'checkbox'},
                /* {field: 'id', title: 'ID', width: "15%", sort: true}, */
                {field: 'endemicAreaText', title: '病区', width: "9%"},
                {field: 'hNumber', title: '住院号', width: "7%"},
                {field: 'bedNumber', title: '床号', width: "7%"},
                {field: 'theName', title: '姓名', width: "9%"},
                {field: 'theAge', title: '年龄', width: "10%"},
                {field: 'theSexText', title: '性别', width: "7%"},
                {field: 'expectArchiveText', title: '期内归档', width: "7%"},
                {field: 'sampleDiagnosisText', title: '入出相符', width: "7%"},
                {field: 'inHospitalDate', title: '入院时间', width: "10%",templet:'<div>{{ Format(d.inHospitalDate,"yyyy-MM-dd   hh:mm")}}</div>'},
                {field: 'outHospitalDate', title: '入院时间', width: "10%",templet:'<div>{{ Format(d.outHospitalDate,"yyyy-MM-dd   hh:mm")}}</div>'},
                {title: '操作', width: "10%", templet: '#operationTpl', align: 'center'}
            ]],
            done: function (res, curr, count) {
                $("#countNum").text(count);        
                }
        });

        form.on('submit(search)', function () {
        	var theName = document.getElementById("name").value;
            layer.msg('正在查询，请稍后...');
        	table.render({
                elem: '#tableId',
                url: '/hos/patient/?theName='+theName,
                limit: 10,
                page: true,
                cols: [[
                    {type: 'checkbox'},
                   /*  {field: 'id', title: 'ID', width: "15%", sort: true}, */
                    {field: 'endemicAreaText', title: '病区', width: "9%"},
                    {field: 'hNumber', title: '住院号', width: "7%"},
                    {field: 'bedNumber', title: '床号', width: "7%"},
                    {field: 'theName', title: '姓名', width: "15%"},
                    {field: 'theAge', title: '年龄', width: "10%"},
                    {field: 'theSexText', title: '性别', width: "7%"},
                    {field: 'expectArchiveText', title: '期内归档', width: "7%"},
                    {field: 'sampleDiagnosisText', title: '入出相符', width: "7%"},
                    {field: 'inHospitalDate', title: '入院时间', width: "10%",templet:'<div>{{ Format(d.inHospitalDate,"yyyy-MM-dd   hh:mm")}}</div>'},
                    {field: 'outHospitalDate', title: '入院时间', width: "10%",templet:'<div>{{ Format(d.outHospitalDate,"yyyy-MM-dd   hh:mm")}}</div>'},
                    {title: '操作', width: "10%", templet: '#operationTpl', align: 'center'}
                ]],
                done: function (res, curr, count) {
                    $("#countNum").text(count);
                }
            });
            
            return false;
        });

        table.on('tool(tableFilter)', function (obj) {
        	var layEvent = obj.event;
            if (layEvent === 'edit') {
            	var checkStatus  = table.checkStatus('tableId');
            	var  d =  checkStatus.data;
            	editId = obj.data.id;
                layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: false,
                    maxmin: true,
                    shade: 0.5,
                    area: ['90%', '90%'],
                    content: 'to?page=admin/patient-add',
                    zIndex: layer.zIndex,
                    end: function () {
                        $(".layui-laypage-btn")[0].click();
                    }
                });
            } else if (layEvent === 'del') {
                layer.confirm("确定要删除吗？", {skin: 'layui-layer-lan', icon: 2, title: '提示', anim: 6}, function () {
                	$.ajax({   
     				      type: "DELETE",   
     				      url: "/hos/patient/removeMulti?ids="+obj.data.id,   
     				      contentType: "application/json; charset=utf-8",
     				     data:JSON.stringify(obj.data.id),//将json对象转换成json字符串发送
     			         dataType:"json",
     				      success: function(data) {   
     				    	  $(".layui-laypage-btn")[0].click();
     				    	  layer.msg("操作成功！", {icon: 1, time: 1300}, function () {
     		                      
     		                    });
     				      },   
     				      error: function(err) {   
     				      }   
     				    }); 
                    layer.msg("操作成功！", {icon: 1, time: 1000});
                });
            }
        });
       /* <![CDATA[*/                  
        $("#batchEnabled").click(function () {
        
            layer.confirm("确定要批量删除吗？", {skin: 'layui-layer-lan', icon: 3, title: '提示', anim: 1}, function () {
                var checkStatus = table.checkStatus('tableId');
                var rows = checkStatus.data.length;
                if (rows > 0) {
                    var idsStr = "";
                    for (var i = 0; i < checkStatus.data.length; i++) {
                        idsStr += checkStatus.data[i].id + ',';
                    }
                    console.log("选择的id-->" + idsStr);
                    layer.msg("操作成功！", {icon: 1, time: 1000}, function () {
                        $(".layui-laypage-btn")[0].click();
                    });
                } else {
                    layer.msg('未选择有效数据', {
                        offset: 't',
                        anim: 6
                    });
                }
            });
        })
  
        $("#batchDisabled").click(function (obj) {
        	var checkStatus  = table.checkStatus('tableId');
        	var  d =  checkStatus.data;
        	if(d.length!=1){
            		layer.msg('请选择一条数据编辑', {icon: 5});
        		return;
        	}
        	editId = d[0].id;
        	layer.open({
                title: '编辑病人',
                type: 2,
                shade: false,
                maxmin: true,
                shade: 0.5,
                anim: 4,
                area: ['90%', '90%'],
                content: 'to?page=admin/patient-add',
                zIndex: layer.zIndex,
                // skin: 'layui-layer-molv',
                end: function () {
                    $(".layui-laypage-btn")[0].click();
                }
            });
        })
	
        $("#batchDel").click(function () {
        	var checkStatus  = table.checkStatus('tableId');
        	var  d =  checkStatus.data;
        	if(d.length==0){
            		layer.msg('请选择至少一条数据', {icon: 5});
        		return;
        	}
            layer.confirm("确定要删除吗？", {skin: 'layui-layer-lan', icon: 2, title: '提示', anim: 6}, function () {
            	
                var rows = checkStatus.data.length;
                if (rows > 0) {
                    var idsStr = "";
                    for (var i = 0; i < checkStatus.data.length; i++) {
                        idsStr += checkStatus.data[i].id + ',';
                    }
                    console.log("选择的id-->" + idsStr);
                    $.ajax({   
  				      type: "DELETE",   
  				      url: "/hos/patient/removeMulti?ids="+idsStr,   
  				      contentType: "application/json; charset=utf-8",
  				     data:JSON.stringify(idsStr),//将json对象转换成json字符串发送
  			         dataType:"json",
  				      success: function(data) {   
  				    	  $(".layui-laypage-btn")[0].click();
  				    	  layer.msg("操作成功！", {icon: 1, time: 1300}, function () {
  		                      
  		                    });
  				      },   
  				      error: function(err) {   
  				      }   
  				    });  
                } else {
                    layer.msg('未选择有效数据', {
                        offset: 't',
                        anim: 6
                    });
                }
            });
        })
/*]]>*/
        $("#addUser").click(function () {
        	editId = "";
            layer.open({
                title: '添加病人',
                type: 2,
                shade: false,
                maxmin: true,
                shade: 0.5,
                anim: 4,
                area: ['90%', '90%'],
                content: 'to?page=admin/patient-add',
                zIndex: layer.zIndex,
                // skin: 'layui-layer-molv',
                end: function () {
                    $(".layui-laypage-btn")[0].click();
                }
            });
        })
    })
    function createQr(){
        var $ = layui.jquery;
        var table = layui.table;
        var checkStatus  = table.checkStatus('tableId');
    	var  d =  checkStatus.data;
    	if(d.length!=1){
        		layer.msg('请选择一条数据生成二维码', {icon: 5});
    		return;
    	}
    	console.log(d[0].id)
    	
    	layer.open({
                title: '生成的二维码',
                type: 2,
                shade: false,
                maxmin: true,
                shade: 0.5,
                anim: 4,
                area: ['26%', '50%'],
                content: 'to?page=qr/qrcode',
                zIndex: layer.zIndex,
                // skin: 'layui-layer-molv',
                end: function () {
                    $(".layui-laypage-btn")[0].click();
                }
            });
    	/*  $.ajax({   
			      type: "POST",   
			      url: "/hos/patient/createQrCode?id="+d[0].id,   
			      success: function(data) {   
			    	  
			    	 /*  $(".layui-laypage-btn")[0].click();
			    	  layer.msg("操作成功！", {icon: 1, time: 1300}, function () {
	                      
	                    });  
			      },   
			      error: function(err) {   
			      }   
			    });   */
    	
    }
    
    
    
    
    
    
    
    
    
 // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，   
 // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)   
 // 例子：   
 //Format("2016-10-04 8:9:4.423","yyyy-MM-dd hh:mm:ss.S") ==> 2016-10-04 08:09:04.423   
 // Format("1507353913000","yyyy-M-d h:m:s.S")      ==> 2017-10-7 13:25:13.0  
 function Format(datetime,fmt) {
   console.log(parseInt(datetime));
   if (parseInt(datetime)==datetime) {
     if (datetime.length==10) {
       datetime=parseInt(datetime)*1000;
     } else if(datetime.length==13) {
       datetime=parseInt(datetime);
     }
   }
   datetime=new Date(datetime);
   var o = {
   "M+" : datetime.getMonth()+1,                 //月份   
   "d+" : datetime.getDate(),                    //日   
   "h+" : datetime.getHours(),                   //小时   
   "m+" : datetime.getMinutes(),                 //分   
   "s+" : datetime.getSeconds(),                 //秒   
   "q+" : Math.floor((datetime.getMonth()+3)/3), //季度   
   "S"  : datetime.getMilliseconds()             //毫秒   
   };   
   if(/(y+)/.test(fmt))   
   fmt=fmt.replace(RegExp.$1, (datetime.getFullYear()+"").substr(4 - RegExp.$1.length));   
   for(var k in o)   
   if(new RegExp("("+ k +")").test(fmt))   
   fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
   return fmt;
 }
</script>
</body>
</html>