<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>添加病例</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <link rel="stylesheet" href="/../layui/css/layui.css"/>
    <link rel="stylesheet" href="/../css/scroll-bar.css"/>
    <link rel="stylesheet" href="/../css/sub-page.css"/>
     <link rel="stylesheet" href="/../css/half_table.css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css"/>
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="formLay" method="post">
        <div class="layui-form-item ">
            <div class="layui-inline half_table">
            <label class="layui-form-label">住院号</label>
	            <div class="layui-input-block">
	                <input type="text" name="hNumber" placeholder="请输入住院号" autocomplete="off" class="layui-input" lay-verify="required"/>
	            </div>
            </div>
            <div class="layui-inline half_table">
	            <label class="layui-form-label">床位号</label>
	            <div class="layui-input-block">
	                <input type="text" name="bedNumber" placeholder="请输入床位号" autocomplete="off" class="layui-input" lay-verify="required"/>
	            </div>
            </div>
          </div>
          <div class="layui-form-item ">
            <div class="layui-inline half_table">
            <label class="layui-form-label">监护人</label>
	            <div class="layui-input-block">
	                <input type="text" name="guardian" placeholder="请输入监护人" autocomplete="off" class="layui-input" lay-verify="required"/>
	            </div>
            </div>
            <div class="layui-inline half_table">
	            <label class="layui-form-label">身份证号</label>
	            <div class="layui-input-block">
	                <input type="text" name="idnumber" placeholder="请输入身份证号" autocomplete="off" class="layui-input" lay-verify="required"/>
	            </div>
            </div>
          </div>
        <div class="layui-form-item">
          	<div class="layui-inline half_table">
	            <label class="layui-form-label">姓名</label>
	            <div class="layui-input-block">
	                <input type="text" name="theName" placeholder="请输入姓名" autocomplete="off" class="layui-input" lay-verify="required"/>
	            </div>
	         </div>
	         <div class="layui-inline half_table">
         	 <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="theSex" value="0" title="男"/>
                <input type="radio" name="theSex" value="1" title="女" />
            </div>
            </div>
        </div>
        <div class="layui-form-item">
         <div class="layui-inline half_table">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="theAge" placeholder="请输入年龄" autocomplete="off" class="layui-input" lay-verify="required"/>
            </div>
            </div>
       	 	 <div class="layui-inline half_table">
            <label class="layui-form-label">床位医生</label>
            <div class="layui-input-block">
                <input type="text" onclick="doctorList()" name="doctorName" placeholder="请输入床位医生" autocomplete="off" class="layui-input" id="doctorName" lay-verify="required"/>
            </div>
            </div> 
        </div>
         <div class="layui-form-item">
       	 	<div class="layui-inline half_table">
	            <label class="layui-form-label">入院时间</label>
		            <div class="layui-input-block">
		               <input name="inHospitalDate" id="inTime" lay-verify1="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"  type="text"/>		         
		        	 </div>
            </div>
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">出院时间</label>
            <div class="layui-input-block">
               <input name="outHospitalDate" id="outTime" lay-verify1="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"  type="text"/>		           
                </div>
            </div>
        </div>
        <div class="layui-form-item">
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">入院诊断</label>
            <div class="layui-input-block">
                <input type="text" name="inHospitalDiagnosis" placeholder="请输入入院诊断" autocomplete="off" class="layui-input" id="birthday" lay-verify="birthdayVerify"/>
            </div>
            </div>
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">出院诊断</label>
            <div class="layui-input-block">
                <input type="text" name="outHospitalDiagnosis" placeholder="请输入出院诊断" autocomplete="off" class="layui-input" id="birthday" lay-verify="birthdayVerify"/>
            </div>
            </div>
        </div>
        <div class="layui-form-item">
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">归档人</label>
            <div class="layui-input-block">
                <input type="text" name="recordMan" placeholder="请输入归档人" autocomplete="off" class="layui-input" id="recordMan" lay-verify="birthdayVerify"/>
            </div>
            </div>
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">归档时间</label>
            <div class="layui-input-block">
                <input name="date" id="recordTime" lay-verify1="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"  type="text"/>		            </div>
            </div>
        </div>
        <div class="layui-form-item">
       	   <div class="layui-inline half_table">
            <label class="layui-form-label">质控人</label>
            <div class="layui-input-block">
                <input type="text" onclick="qualityList()" name="qualityName" placeholder="请输入归档人" autocomplete="off" class="layui-input" id="qualityName" lay-verify="birthdayVerify"/>
            </div>
            </div> 
       	  <div class="layui-inline half_table">
            <label class="layui-form-label">质控时间</label>
            <div class="layui-input-block">
               <input name="qualityDate" id="qualityTime" lay-verify1="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"   type="text"/>		            </div>
            </div>
        </div>
        <div class="layui-form-item">
       	  <div class="layui-inline half_table">
           <label class="layui-form-label">入出相符</label>
            <div class="layui-input-block">
                <input type="radio" name="sampleDiagnosis" value="1" title="是"/>
                <input type="radio" name="sampleDiagnosis" value="0" title="否" />
            </div>
            </div>
       	  <div class="layui-inline half_table">
           <label class="layui-form-label">期内归档</label>
            <div class="layui-input-block">
                <input type="radio" name="expectArchive" value="1" title="是"/>
                <input type="radio" name="expectArchive" value="0" title="否" />
            </div>
            </div>
        </div>
           <!--  <label class="layui-form-label">兴趣</label>
             <div class="layui-inline half_table">
            <div class="layui-input-block">
                <input type="checkbox" name="like[write]" title="写作"/>
                <input type="checkbox" name="like[read]" title="阅读"/>
                <input type="checkbox" name="like[run]" title="运动"/>
            </div>
            </div> -->
            
        <div class="layui-form-item">
            <div class="  layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
         <input type="hidden" name="id" value=""></input>
         <input type="hidden" name="doctor_id" id="doctor" value=""></input>
         <input type="hidden" name="quality" id="quality" value=""></input>
    </form>
</div>
<!--js逻辑-->
<script src="/../layui/layui.js"></script>
<script>
/*<![CDATA[*/
    layui.use(['element', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#inTime',
            type: "datetime"
        });
        laydate.render({
            elem: '#outTime',
            type: "datetime"
        });
        laydate.render({
            elem: '#recordTime',
            type: "datetime"
        });
        laydate.render({
            elem: '#qualityTime',
            type: "datetime"
        });
        form.on('submit(add)', function (data) {
			var editId = parent.editId;
			data = idToArray(data);
			if(editId!=""&&editId!=undefined){
				 $.ajax({   
				      type: "PUT",   
				      url: "/hos/patient/"+editId,   
				      contentType: "application/json; charset=utf-8",
				      data:JSON.stringify(data.field),
				      success: function(data) {   
				    	  layer.msg("添加成功！", {icon: 6, time: 500, anim: 4}, function () {
				                parent.layer.close(parent.layer.getFrameIndex(window.name));
				            });
				      },   
				      error: function(err) {   
				      }   
				    });  
			}else{
				 $.ajax({   
				      type: "POST",   
				      url: "/hos/patient/",   
				      contentType: "application/json; charset=utf-8",
				      data:JSON.stringify(data.field),
				      success: function(data) {   
				    	  layer.msg("添加成功！", {icon: 6, time: 500, anim: 4}, function () {
				                parent.layer.close(parent.layer.getFrameIndex(window.name));
				            });
				      },   
				      error: function(err) {   
				      }   
				    });  
			}
            return false;
        });
    })
    //]]>
</script>

<script type="text/javascript">
/**
 * 表格数据填充
 */
 /*<![CDATA[*/
window.onload=function(){
	console.log(parent.editId)
	var eid = parent.editId;
	var idInput = document.getElementsByName("id")[0];
	idInput.value=eid;
	if(eid!=""&&eid!=undefined){
		   layui.use(['element', 'table', 'form', 'jquery', 'laydate'], function () {
		        var element = layui.element;
		        var form = layui.form;
		        var $ = layui.jquery;
		        $.ajax({   
				      type: "GET",   
				      url: "/hos/patient/"+eid,   
				      contentType: "application/json; charset=utf-8",
				      data:JSON.stringify(eid),//将json对象转换成json字符串发送
			          dataType:"json",
				      success: function(data) {   
				    	  if(data.object.theSex==1){
				    		  $("#man").attr("checked","checked");
				    	  }else{
							  $("#woman").attr("checked","checked");				    		  
				    	  }
				    	  form.render('radio');
//				    	  if(data.object.theSex=)
				    	  form.val("formLay", {
					            "theName": data.object.theName // "name": "value"
					            ,"theSex": data.object.theSex
					            ,"theAge": data.object.theAge
					            ,"check[write]": true
					            ,"open": false
					            ,"theDesc": data.object.theDesc
					        });
				      },   
				      error: function(err) {   
				      }   
				    });   
		        
		        
		      
		   });
	}
}
function doctorList(){
	 layer.open({
         title: '选择医生',
         type: 2,
         shade: false,
         maxmin: true,
         shade: 0.5,
         anim: 4,
         area: ['40%', '70%'],
         content: 'to?page=table/doctor-table',
         zIndex: layer.zIndex,
         // skin: 'layui-layer-molv',
         end: function () {
         	//    $(".layui-laypage-btn")[0].click();
         }
     });
}
function qualityList(){
	layer.open({
        title: '选择质控人员',
        type: 2,
        shade: false,
        maxmin: true,
        shade: 0.5,
        anim: 4,
        area: ['40%', '70%'],
        content: 'to?page=table/quality-table',
        zIndex: layer.zIndex,
        // skin: 'layui-layer-molv',
        end: function () {
       //     $(".layui-laypage-btn")[0].click();
        }
    });
}
function idToArray(data){
	console.log(data.field)
	
	return data;
}
//]]>
</script>
</body>
</html>