<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8"></meta>
    <title>添加质管人员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <link rel="stylesheet" href="/../layui/css/layui.css"/>
    <link rel="stylesheet" href="/../css/scroll-bar.css"/>
    <link rel="stylesheet" href="/../css/sub-page.css"/>
     <link rel="stylesheet" href="/../css/ .css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css"/>
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="formLay" method="post">
        <div class="layui-form-item ">
            <label class="layui-form-label">姓名</label>
	            <div class="layui-input-block">
	                <input type="text" name="theName"    placeholder="请输入质管姓名" autocomplete="off" class="layui-input" lay-verify="required"/>
	            </div>
          </div>
          <div class="layui-form-item "> 
		            <label class="layui-form-label">年龄</label>
		            <div class="layui-input-block">
		                <input type="text" name="theAge" placeholder="请输入年龄" autocomplete="off" class="layui-input" lay-verify="required"/>
		            </div>
           </div>
            
        <div class="layui-form-item">
	         <div class="layui-inline  ">
         	 <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" id="man" name="theSex" value="1" title="男"/>
                <input type="radio" id="woman" name="theSex" value="0" title="女" />
            </div>
            </div>
        </div>
         <div class=" layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="theDesc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
            </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn"  lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        <input type="hidden" name="id" value=""></input>
      </form>
   </div>
<!--js逻辑-->
<script src="/../layui/layui.js"></script>
<script>
    layui.use(['element', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#inTime',
            type: "datetime"
        });
        laydate.render({
            elem: '#outTime',
            type: "datetime"
        });
        laydate.render({
            elem: '#recordTime',
            type: "datetime"
        });
        laydate.render({
            elem: '#qualityTime',
            type: "datetime"
        });
        form.on('submit(demo1)', function (data) {
        	/*   layer.alert(JSON.stringify(data.field), {
        	      title: '最终的提交信息'
        	    }) */
			/**
				判断是更新还是保存
			*/
			var editId = parent.editId;
			if(editId!=""){
				 $.ajax({   
				      type: "PUT",   
				      url: "/hos/quality/"+editId,   
				      contentType: "application/json; charset=utf-8",
				      data:JSON.stringify(data.field),
				      success: function(data) {   
				    	  layer.msg("修改成功！", {icon: 6, time: 500, anim: 4}, function () {
				                parent.layer.close(parent.layer.getFrameIndex(window.name));
				            });
				      },   
				      error: function(err) {   
				    	  layer.msg('修改失败', {icon: 5});
				      }   
				    });  
				
				
			}else{
				 $.ajax({   
				      type: "POST",   
				      url: "/hos/quality/",   
				      contentType: "application/json; charset=utf-8",
				      data:JSON.stringify(data.field),
				      success: function(data) {   
				    	  layer.msg("添加成功！", {icon: 6, time: 500, anim: 4}, function () {
				                parent.layer.close(parent.layer.getFrameIndex(window.name));
				            });
				      },   
				      error: function(err) {  
				    	  layer.msg('添加失败', {icon: 5});
				      }   
				    });  
				
			}
            return false;
        });
    })
</script>
<script type="text/javascript">
/**
 * 表格数据填充
 */
window.onload=function(){
	var eid = parent.editId;
	var idInput = document.getElementsByName("id")[0];
	idInput.value=eid;
	if(eid!=""){
		
		   layui.use(['element', 'table', 'form', 'jquery', 'laydate'], function () {
		        var element = layui.element;
		        var form = layui.form;
		        var $ = layui.jquery;
		        
		        $.ajax({   
				      type: "GET",   
				      url: "/hos/quality/"+eid,   
				      contentType: "application/json; charset=utf-8",
				      data:JSON.stringify(eid),//将json对象转换成json字符串发送
			          dataType:"json",
				      success: function(data) {   
				    	  if(data.object.theSex==1){
				    		  $("#man").attr("checked","checked");
				    	  }else{
							  $("#woman").attr("checked","checked");				    		  
				    	  }
				    	  form.render('radio');
//				    	  if(data.object.theSex=)
				    	  form.val("formLay", {
					            "theName": data.object.theName // "name": "value"
					            ,"theSex": data.object.theSex
					            ,"theAge": data.object.theAge
					            ,"check[write]": true
					            ,"open": false
					            ,"theDesc": data.object.theDesc
					        });
				      },   
				      error: function(err) {  
				    	  layer.msg('添加失败', {icon: 5});
				      }   
				    });   
		        
		        
		      
		   });
	}
}
</script>
</body>
</html>